<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/favicon.png?">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>Team - MyTourney</title>
</head>
    <body>
    <div class="navbar" id="nav_bar">
        <nav>
            <ul class="nav-links">
                <li><a href="profile_player">PROFILE</a></li>
                <li><a href="balance">BALANCE</a></li>
                <li><a href="friends">FRIENDS</a></li>
                <li><a href="home">HOME</a></li>
            </ul>
        </nav>
    </div>
    <br><br>
    <div id="matchmaking_cont">
        <div>
            <div style="font-family: Varsity; color: #91c2e7; text-align: center; align-self: center; font-weight: 500;">
                GROUP STAGE
            </div>
            <div class="sijo-player">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption_player">
                        TEAM 1
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #104b5f; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 1
                    </div>
                    <div id="vs-player" style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption_player">
                        TEAM 2
                    </div>
                </div>
            </div>
            <div class="sijo-player">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption_player">
                        TEAM 3
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #104b5f; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 2
                    </div>
                    <div id="vs-player" style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption_player">
                        TEAM 4
                    </div>
                </div>
            </div>
            <div class="sijo-player">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption_player">
                        TEAM 5
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #104b5f; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 3
                    </div>
                    <div id="vs-player" style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption_player">
                        TEAM 6
                    </div>
                </div>
            </div>
            <div style="font-family: Varsity; color: #91c2e7; text-align: center; align-self: center; font-weight: 500;">
                SEMIFINAL STAGE
            </div>
            <div class="sijo-player">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption_player">
                        TBD
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #104b5f; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 4
                    </div>
                    <div id="vs-player" style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption_player">
                        TBD
                    </div>
                </div>
            </div>
            <div class="sijo-player">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption_player">
                        TBD - BYE
                    </div>
                </div>
            </div>
            <div style="font-family: Varsity; color: #91c2e7; text-align: center; align-self: center; font-weight: 500;">
                FINAL STAGE
            </div>
            <div class="sijo-player">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption_player">
                        TBD
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #104b5f; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 5
                    </div>
                    <div id="vs-player" style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption_player">
                        TBD
                    </div>
                </div>
            </div>
            <div id="winner-txt">
                WINNER
            </div>
            <div id="winner_cont" class="glowing">
                <div class="sijo-winner">
                    <div>
                        <div class="mking_team_cont">
                            <img src="<%= team_path %>/<%= winner.photo %> " style="display: inline; height: 100%; width: auto; margin: auto;">
                        </div>
                        <div class="mking_team_caption_winner">
                            <%= winner.team_name %> 
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img src="images/MoneyTrophy.png" id="trophy-img-winner">
                    </div>
                
                </div>
            </div>
            
        </div>
        </div>
        <div id="details-btns">
            <div style="background-color: #91c2e7; border-radius: 5px; width: 15vw; height: 15vw; padding: 5px; display: flex;">
                <img src="images/back.png" style="width: 10vw; height: 10vw; margin: auto;" onclick="history.back()">
            </div>
        </div>

    </body>
</html>