<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/images/favicon.png?">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>Host Home - MyTourney</title>
</head>
    <body style="background-color: #560000;">
        <div class="navbar-host" id="nav_bar_host">
            <nav>
                <ul class="nav-links-host">
                    <!-- Make this so that the "PROFILE" changes to "LOGIN" -->
                    <!-- Make it so that if the user does not have a team, he can join a team or create one -->
                    <li><a href="profile_player">PROFILE</a></li>
                    <li><a href="balance">BALANCE</a></li>
                    <li><a href="friends">FRIENDS</a></li>
                    <li><a href="team_player">TEAM</a></li>
                </ul>
            </nav>
        </div>
        <br><br>
        <section class="logo">
            <div class="container">
                <div style="background-color: #f45b6a;" id="leaderboard">
                    <a href="leaderboard" style="font-size: 14px;color: #560000;">LEADER<br>BOARD</a>
                </div>
                <div id="logo_img_home">
                    <img src="images/MyTourney Logo Soccer Inverted.png" style="height: 85px;">
                </div>
                <div style="background-color: #f45b6a;" id="host">
                    <a href="home" style="font-size: 14px;color: #560000;">PLAYER<br>MODE</a>
                </div>
            </div>
        </section>
        <br><br>

        <div id="matchmaking_cont">
            <div style="font-family: Varsity; color: #f45b6a; text-align: center; align-self: center; font-weight: 500;">
                GROUP STAGE
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[0].team_name %>
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 1
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[1].team_name %>
                    </div>
                </div>
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[2].team_name %>
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 2
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[3].team_name %>
                    </div>
                </div>
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[4].team_name %>
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 3
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[5].team_name %>
                    </div>
                </div>
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[6].team_name %>
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 4
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[7].team_name %>
                    </div>
                </div>
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[8].team_name %>
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 5
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[9].team_name %>
                    </div>
                </div>
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[10].team_name %>
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 6
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[11].team_name %>
                    </div>
                </div>
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[12].team_name %>
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 7
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[13].team_name %>
                    </div>
                </div>
            </div>
            <div style="font-family: Varsity; color: #f45b6a; text-align: center; align-self: center; font-weight: 500;">
                QUARTERFINAL STAGE
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        <%= teams[14].team_name %>
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 8
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        TBD-M1
                    </div>
                </div>
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        TBD-M2
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 9
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        TBD-M3
                    </div>
                </div>
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        TBD-M4
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 10
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        TBD-M5
                    </div>
                </div>
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        TBD-M6
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 11
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        TBD-M7
                    </div>
                </div>
            </div>
            <div style="font-family: Varsity; color: #f45b6a; text-align: center; align-self: center; font-weight: 500;">
                SEMIFINAL STAGE
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        TBD-M8
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 12
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        TBD-M9
                    </div>
                </div>
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        TBD-M10
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 13
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        TBD-M11
                    </div>
                </div>
            </div>
            <div style="font-family: Varsity; color: #f45b6a; text-align: center; align-self: center; font-weight: 500;">
                FINAL STAGE
            </div>
            <div class="sijo">
                <div id="team1" style="margin: 0 15px 0 0;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        TBD-M12
                    </div>
                </div>
                <div>
                    <div style="font-family: Varsity; color: #560000; text-align: center; align-self: center; font-weight: 500;">
                        MATCH 14
                    </div>
                    <div style="align-self: center; font-family: Varsity; font-size: 15vw; font-weight: 500;">
                        VS
                    </div>
                </div>
                <div id="team2" style="margin: 0 0 0 15px;">
                    <div class="mking_team_cont">
                        <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" style="display: inline; height: 100%; width: auto; margin: auto;">
                    </div>
                    <div class="mking_team_caption">
                        TBD-M13
                    </div>
                </div>
            </div>


            <div id="details-btns">
                <div style="background-color: #f45b6a; border-radius: 5px; width: 15vw; height: 15vw; padding: 5px; display: flex;">
                    <img src="images/back_inverted.png" style="width: 10vw; height: 10vw; margin: auto;" onclick="window.location='/host'">
                </div>
            </div>
        </div>
    </body>
</html>