<html>
  <head><title>Order Canceled</title></head>
  <body>
    <h1>Your order was canceled!</h1>
    <p>
      Please try again.
      If you have any questions, please email
      <a href="mailto:contact@winmytourney.com">contact@winmytourney.com</a>.
    </p>
    <a style="text-decoration: none; color: black;" href="/add_funds">
        <div style="background-color: aquamarine; border-radius: 10px; margin: auto; width: fit-content; text-align: center; margin-top: 50px;">
            OK
        </div>
    </a>
  </body>
</html>