<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>Friends - MyTourney</title>
</head>
    <body>
    <div class="navbar" id="nav_bar">
        <nav>
            <ul class="nav-links">
                <li><a href="profile_player">PROFILE</a></li>
                <li><a href="balance">BALANCE</a></li>
                <li><a href="home">HOME</a></li>
                <li><a href="team_player">TEAM</a></li>
            </ul>
        </nav>
    </div>
    <br><br>
    <div style="text-align: center; color: aliceblue; font-size: 48px; margin: 10%; padding-top: 50%; font-weight: 500;">
    WORK IN PROGRESS
    </div>
    <!-- <div style="color:#104b5f; font-size: 48px; margin: 10%; text-align: center; background-color: aliceblue;">
        SHARE
    </div> -->
    <div style="text-align: center; color: aliceblue; font-size: 24px; margin: 10%; padding-top: 20%; font-family: NTF-Grand;">
    Please help support MyTourney!
    </div>
    <button onclick="topFunction()" id="my-btn" title="Go to top">
    <img src="images/Up Arrow.jpeg" style="height: 25px; padding-top: 5px;">
    </button>
    <script src="app.js"></script>
    </body>
</html>