<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <link rel="stylesheet" href="css/addtohomescreen.css">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content="MyTourney">
    <meta name="msapplication-TileColor" content="#104b5f">
    <meta name=”theme-color” content="#104b5f">
    <link rel="apple-touch-icon" sizes="512x512" href="images/icon.png">
    <title>MyTourney</title>
</head>
    <body>
        <div style="color: #91c2e7; font-size: 36px; text-align: center; margin: auto; font-weight: 500; padding-bottom: 15px; padding-top: 50px;">
            MYTOURNEY
        </div>
        <div id="container">
            <div>
                <img src="images/MyTourney Logo.png" id="login-img">
            </div>
        </div>
        <div id="login-form-container">
        <form method="POST" action="/login">
            <div class="form-group">
                <input name="email" type="email" autocomplete="username" class="form-control" id="exampleInputEmail1" placeholder="EMAIL">
            </div>
            <div class="form-group">
                <input name="password" type="password" autocomplete="current-password" class="form-control" id="exampleInputPassword1" placeholder="PASSWORD">
            </div>
            <div class="form-group">
                <input type="submit" id="submit-btn" value="LOGIN">
            </div>
        </form>
        </div>
        <div id="register-redirect" style="font-family: NTF-Grand; color: #91c2e7;">
            Need to sign up?&emsp;
            <a href="/register" style="font-family: Varsity; color: #91c2e7;font-weight: 500;">REGISTER</a>
        </div>
        <div id="register-redirect" style="font-family: NTF-Grand; color: #91c2e7;">
            Forgot password?&emsp;
            <button style="font-family: Varsity; color: #91c2e7;font-weight: 500; background-color: #104b5f;border: 0;" id="forgotPass">FORGOT</button>
        </div>
        <script src="forgot.js"></script>
        <script src="addtohomescreen.js"></script>
        <script>
            if(
                (("fullscreen" in window.navigator) && !window.navigator.fullscreen) ||
                (!window.matchMedia('(display-mode: fullscreen)').matches)
            ){
                addToHomescreen();
            }
        </script>
    </body>
</html>