<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/favicon.png?">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>Host Home - MyTourney</title>
</head>
    <body style="background-color: #560000;">
    <% if(teams.length == 6) {%>
        <div>

        </div>
    <% }else if(teams.length == 7) {%>
        
    <% } %> 
    <script src="match.js"></script>
    </body>
</html>