<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/favicon.png?">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>MyTourney</title>
</head>
    <body>
        <div style="width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;">
            <div>
                <header style="font-size: 36px; font-weight: 500; color: #91c2e7;">MYTOURNEY</header>
                <div style="width: 100%; display: flex; align-items: center; justify-content: center;">
                    <img src="images/icon.png" style="height: 30vw; width: 30vw;">
                </div>
                <div style="font-family: NTF-Grand; color: #91c2e7; text-align: center; font-size: 18px; margin-top: 25px;">
                    Sign up to receive an email once a tourney opens near you!
                </div>
                <form method="POST" action="/signup">
                    <div class="form-group" style="margin: 20px; display: flex; justify-content: center;">
                        <input name="email" type="email" autocomplete="email" class="form-control" id="exampleInputEmail1" placeholder="EMAIL"
                        style="width: 40vw;">
                        <input type="submit" id="submit-btn" value="SIGNUP" style="width: fit-content; margin-left: 10px; border-radius: 5px;">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>