<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/images/favicon.png?">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>Host Home - MyTourney</title>
</head>
    <body >
        <div style="display: flex; align-items: center; justify-content: center; width: 100vw; height: 100vh;">
            <div id="unverified">
                YOUR ACCOUNT IS UNVERIFIED, PLEASE VISIT THE VERIFICATION LINK SENT TO YOUR EMAIL
            </div>
        </div>
        
    </body>
</html>