<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/images/favicon.png?">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>Winner - MyTourney</title>
</head>
    <body >
        <div class="navbar" id="nav_bar" style="z-index: 100;">
            <nav>
                <ul class="nav-links">
                    <!-- Make this so that the "PROFILE" changes to "LOGIN" -->
                    <!-- Make it so that if the user does not have a team, he can join a team or create one -->
                    <li><a href="profile_player">PROFILE</a></li>
                    <li><a href="balance">BALANCE</a></li>
                    <li><a href="friends">FRIENDS</a></li>
                    <li><a href="team_player">TEAM</a></li>
                </ul>
            </nav>
        </div>
        <br><br>

        <img src="images/Fireworks.png" id="firework-img">
        <div id="home_team" style="margin: auto; background-color: transparent; color: #91c2e7; font-size: 9vw; width: 100%; position: relative;">
                <div style="background-color: rgba(0, 0, 0, 0.1); width: 80vw; margin: auto; border-radius: 15px;">
                   WELL PLAYED 
                </div>
                <div id="trophy-cont">
                    <div id="winning-amount">
                        <%= earnings %> 
                    </div>
                    <img src="images/tourneyTrophy.png" id="trophy-img">
                    <img src="images/Flame.png" id="fire-img">
                </div>
                YOU WON!
        </div>
        <div id="win-btn-cont">
            <div class="win-btn">
                <img src="images/home.png" id="home-btn-win" onclick="window.location = '/home'">
            </div>
            <div class="win-btn">
                <img src="images/share2.png" id="home-btn-win" onclick="copyLink()">
            </div>
            <div class="win-btn">
                <img src="images/summary.png" id="home-btn-win" onclick="window.location ='<%= link %>'">
            </div>
        </div>

        <script>
            function copyLink() {
                var inputc = document.body.appendChild(document.createElement("input"));
                inputc.value = window.location.href;
                inputc.focus();
                inputc.select();
                if(navigator.share){
                    navigator.share({
                        title: "Let's play MyTourney!",
                        url: `${window.location.href}`
                    })
                }else{
                    document.execCommand('copy');
                }
                inputc.parentNode.removeChild(inputc);
            }
        </script>
        
    </body>
</html>